<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GreekFireExpenseDBEntities" connectionString="metadata=res://*/GreekFireExpenseModel.csdl|res://*/GreekFireExpenseModel.ssdl|res://*/GreekFireExpenseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LUBU\SQLEXPRESS2;Initial Catalog=GreekFireExpenseDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>